.wrapper {








}

.d1{

width: 100px;
    height: 100px;
    border: 1px solid;
    background: yellow;


}

.d2{

width: 100px;
    height: 100px;
    border: 1px solid;
    background: rgb(0, 147, 12);

}

.d3{

width:100px;
    height:100px;
    border:1px solid;
    background: yellow;
}

